$display-background-color: #e6e6e6;

.display {
  textarea {
    background-color: $display-background-color;
    font-family: 'Courier New';
    font-size: 1em;
    font-weight: bold;
    height: 120px;
    overflow-y: scroll;
    resize: none;
    width: 100%;
  }
}
