$display-background-color: #e6e6e6;
$btn-background-color: #404040;
$btn-font-color: #fff;

.display {
  textarea {
    background-color: $display-background-color;
    box-sizing: border-box;
    font-family: 'Courier New';
    font-size: 1em;
    font-weight: bold;
    height: 128px;
    margin-bottom: -8px;
    overflow-y: scroll;
    resize: none;
    width: 100%;
  }
}
