$display-background-color: #e6e6e6;
$display-height: calc(100vh - 7 * 30px + 3px);
$btn-background-color: #404040;
$btn-font-color: #fff;

.display {
  textarea {
    background-color: $display-background-color;
    box-sizing: border-box;
    font-family: 'Courier New';
    font-size: 1em;
    font-weight: bold;
    height: $display-height;
    margin-bottom: -8px;
    overflow-y: scroll;
    resize: none;
    width: 100%;
  }
}
