$modal-color: #e6e6e6;
$overlay-color: rgba(0, 0, 0, .75);

.modal {
  background-color: $modal-color;
  bottom: 40px;
  left: 40px;
  padding: 30px;
  position: absolute;
  right: 40px;
  top: 40px;

  .button-close {
    background-color: $btn-background-color;
    color: $btn-font-color;
    float: right;
    font-size: 1em;
    font-weight: bold;
  }

  h2 {
    text-align: center;
  }
}

.overlay {
  background-color: $overlay-color;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
