$btn-background-color: #404040;
$btn-font-color: #fff;
$key-height: 30px;
$key-width: 60px;

.keypad {
  .key {
    background-color: $btn-background-color;
    color: $btn-font-color;
    font-size: 1em;
    font-weight: bold;
    height: $key-height;
  }

  .key-width-1 {
    width: $key-width;
  }

  .key-width-2 {
    width: $key-width * 2;
  }

  .key-width-6 {
    width: $key-width * 6;
  }
}
